---
import Layout from '../layouts/Layout.astro';

import { data } from '../example/landing-data';
---

<Layout title="Landing Page example">
  <main
    class="flex min-h-[100svh] w-screen flex-col items-center justify-center bg-gradient-to-br from-blue-600 to-blue-950"
  >
    <div class="w-full max-w-3xl px-6 py-16">
      <section>
        <h1
          class="bg-gradient-to-br from-sky-300 to-sky-400 bg-clip-text text-center text-3xl font-extrabold uppercase text-transparent"
        >
          {data.title}
        </h1>

        <h2 class="mt-2 text-center text-lg font-semibold text-white">
          {data.subtitle}
        </h2>
      </section>

      <section class="my-8">
        <iframe
          class="h-56 w-full rounded-xl md:h-72 lg:h-96"
          src={data.videoURL}
          title="Promotional video"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        ></iframe>
      </section>

      <section class="flex flex-col gap-1">
        {
          data.textParagraphs.map((paragraph) => (
            <p class="text-md text-white">{paragraph}</p>
          ))
        }
      </section>

      <section class="mt-6 flex justify-center">
        <a
          href={data.buyLink.url}
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-full bg-gradient-to-r from-sky-300 via-sky-400 to-sky-300 bg-size-200 bg-pos-0 px-6 py-3 text-xl font-semibold uppercase text-white shadow-md transition-all duration-500 hover:bg-pos-100"
        >
          {data.buyLink.title}
        </a>
      </section>
    </div>
  </main>
</Layout>
